/* Toolbar icon */
#graphviz-preview-icon {
    background-image: url(images/graphviz-sprite.svg);
}

#graphviz-preview-icon.active {
    background-position: 0 -24px !important;
}

#panel-graphviz-preview {
    position: relative;
}

#panel-graphviz-preview-frame {
    border: none;
}

/* invalid syntax box */
#invalid-dot-syntax {
	background-color: red;
	margin: 3px 10px 3px 10px;
}
